<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Travel Information API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>

<main>

  <div style="background-color: white;">
    <div class="container-fluid">
      <div class="row ">

        <div class="card-body bg-primary">

          <div class="">
            <ol class="breadcrumb" style="background-color: white;">
              <li class="breadcrumb-item" style="margin-top: 4px;">
                <a href="http://localhost/RmConnector/dashboard" class="text-decoration-none">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                <button mat-button color="primary" [routerLink]="['/BranchLocatorComponent']">Travel Information
                </button>

              </li>
            </ol>
          </div>
        </div>

      </div>


    </div>
  </div>

  <div>
  </div>

</main>
<div class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--3-col" style="height: 100%;">
      <div class="mdl-tabs__tab-bar" style="background-color: black;">
        <p class="font-weight-bold fs20 p-l-20 p-b-10">Travel Information API</p>
        <a href="#tab1-panel" class="mdl-tabs__tab is-active">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Traffic Flow</p>
          </a>
        </a>
        <a href="#tab2-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Begin Latitude</p>
          </a>
        </a>
        <a href="#tab3-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">High Way Alerts</p>
          </a>
        </a>
        <a href="#tab4-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Highway Cameras</p>
          </a>
        </a>
        <a href="#tab5-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Mountain Pass Conditions</p>
          </a>
        </a>
        <a href="#tab6-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Travel Times</p>
          </a>
        </a>
        <a href="#tab7-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Ferries</p>
          </a>
        </a>
        <a href="#tab8-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Ferries</p>
          </a>
        </a>
        <a href="#tab9-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Schedule</p>
          </a>
        </a>
        <a href="#tab10-panel" class="mdl-tabs__tab">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Terminal Sailing Space</p>
          </a>
        </a>
        
        <a href="#tab11-panel" class="mdl-tabs__tab" style="margin-bottom: -5px;">
          <span class="hollow-circle"></span>
          <a href="">
            <p class="font-weight-bold" style="color: white;">Vessels</p>
          </a>
        </a>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col" style="margin-top: 30px;">
      <div class="mdl-tabs__panel is-active" id="tab1-panel">
        <div class="container">

         
            <mat-card>

                <mat-card-title>Traffic Flow</mat-card-title>
    
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
    
                    <table class="table table-hover">
                      <thead>
                        <!-- <tr>
                          <th>Description</th>
                          <th>Direction</th>
                          <th>Latitude</th>
                          <th>Longitude</th>
                          <th>Mile Post</th>
                          <th>Road Name</th>
                          <th>Region</th>
                          <th>Station Name</th>
                        </tr> -->
                      </thead>
                      <tbody>
                        <tr>
                          <td>Flow Data ID<br>{{travelData.FlowDataID}}</td>
                          <td>Flow Reading Value<br>{{travelData.FlowReadingValue}}</td>
                          <td>Description<br>{{travelData.FlowStationLocation.Description}}</td>
                          <td>Direction<br>{{travelData.FlowStationLocation.Direction}}</td>
                          <td>Longitude<br>{{travelData.FlowStationLocation.Longitude}}</td>
                          <td>Mile Post<br>{{travelData.FlowStationLocation.MilePost}}</td>
                          <!-- <td>61</td>
                          <td>2011/04/25</td>
                          <td>$320,800</td> -->
                      </tr>
                     
                      <tr>
                          <td>Road Name<br>{{travelData.FlowStationLocation.RoadName}}</td>
                          <td>Region<br>{{travelData.Region}}</td>
                          <td>StationName<br>{{travelData.StationName}}</td>
                          <td>Time<br>{{travelData.Time}}</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <!-- <tr>
                          <td>Last Updated Time<br>{{traffic_alert.LastUpdatedTime}}</td>
                          <td>Priority<br>{{traffic_alert.Priority}}</td>
                          <td>Region<br>{{traffic_alert.traffic_alert}}</td>
                          <td>Start Roadway Location<br>{{traffic_alert.StartRoadwayLocation.Description}}</td>
                          <td>Direction<br>{{traffic_alert.StartRoadwayLocation.Direction}}</td>
                          <td>Latitude<br>{{traffic_alert.StartRoadwayLocation.Latitude}}</td>
                      </tr> -->

                      </tbody>
                    </table>
                  </div>
    
                </div>
            </mat-card>

          <br>

        </div>
      </div>
      <div class="mdl-tabs__panel" id="tab2-panel">
        <mat-card>

          <div class="container">
            <mat-card-title>Begin Latitude</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                      <tr>
                          <!-- <th>CameraID</th> -->
                          <!-- <th>Description</th> -->
                          <!-- <th>CameraOwner</th> -->
                          <!-- <th>Latitude</th> -->
                          <!-- <th>Longitude</th> -->
                          <!-- <th>Mile Post</th> -->
                          <!-- <th>RoadName</th>
                          <th>Longitude</th>
                          <th>MilePost</th>
                           -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Begin Latitude<br>{{bridge_clean.BeginLatitude}}</td>
                          <td>Begin Longitude<br>{{bridge_clean.BeginLongitude}}</td>
                          <td>Begin Mile Post<br>{{bridge_clean.BeginMilePost}}</td>
                          <td>Bridge Name<br>{{bridge_clean.BridgeName}}</td>
                          <td>End Latitude<br>{{bridge_clean.EndLatitude}}</td>
                          <td>End Longitude<br>{{bridge_clean.EndLongitude}}</td>
                          <!-- <td>61</td>
                          <td>2011/04/25</td>
                          <td>$320,800</td> -->
                      </tr>
                     
                      <tr>
                          <td>End Mile Post{{bridge_clean.EndMilePost}}</td>
                          <td>Is Connector{{bridge_clean.IsConnector}}</td>
                          <td>LRS Route{{bridge_clean.LRSRoute}}</td>
                          <td>Location ID{{bridge_clean.LocationID}}</td>
                          <td>Maximum Vertical Clearance{{bridge_clean.MaximumVerticalClearance}}</td>
                          <td>Maximum Vertical Clearance Inches{{bridge_clean.MaximumVerticalClearanceInches}}</td>
                      </tr>
                      <tr>
                          <td>Minimum Vertical Clearance{{bridge_clean.MinimumVerticalClearance}}</td>
                          <td>State Route ID{{bridge_clean.StateRouteID}}</td>
                          <td>Structure ID{{bridge_clean.StructureID}}</td>
                          <td>40</td>
                          <td>2009/06/25</td>
                          <td>$675,000</td>
                      </tr>
                      <tr>
                          <td>Caesar Vance</td>
                          <td>Pre-Sales Support</td>
                          <td>New York</td>
                          <td>21</td>
                          <td>2011/12/12</td>
                          <td>$106,450</td>
                      </tr>
                      <tr>
                          <td>Doris Wilder</td>
                          <td>Sales Assistant</td>
                          <td>Sydney</td>
                          <td>23</td>
                          <td>2010/09/20</td>
                          <td>$85,600</td>
                      </tr>
                      <tr>
                          <td>Angelica Ramos</td>
                          <td>Chief Executive Officer (CEO)</td>
                          <td>London</td>
                          <td>47</td>
                          <td>2009/10/09</td>
                          <td>$1,200,000</td>
                      </tr>
                      <tr>
                          <td>Gavin Joyce</td>
                          <td>Developer</td>
                          <td>Edinburgh</td>
                          <td>42</td>
                          <td>2010/12/22</td>
                          <td>$92,575</td>
                      </tr>
                      <tr>
                          <td>Jennifer Chang</td>
                          <td>Regional Director</td>
                          <td>Singapore</td>
                          <td>28</td>
                          <td>2010/11/14</td>
                          <td>$357,650</td>
                      </tr>
                      
                  </tbody>
                 
              </table>
              </div>
            </div>
          </div>
        </mat-card>
      

      </div>
      <div class="mdl-tabs__panel" id="tab3-panel">
        <mat-card>

          <div class="container">
            <mat-card-title>High Way Alerts</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                      <tr>
                          <!-- <th>CameraID</th> -->
                          <!-- <th>Description</th> -->
                          <!-- <th>CameraOwner</th> -->
                          <!-- <th>Latitude</th> -->
                          <!-- <th>Longitude</th> -->
                          <!-- <th>Mile Post</th> -->
                          <!-- <th>RoadName</th>
                          <th>Longitude</th>
                          <th>MilePost</th>
                           -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Alert ID<br>{{traffic_alert.AlertID}}</td>
                          <td>County<br>{{traffic_alert.County}}</td>
                          <td>Description<br>{{traffic_alert.EndRoadwayLocation.Description}}</td>
                          <td>Direction<br>{{traffic_alert.EndRoadwayLocation.Direction}}</td>
                          <td>Longitude<br>{{traffic_alert.EndRoadwayLocation.Longitude}}</td>
                          <td>Mile Post<br>{{traffic_alert.EndRoadwayLocation.MilePost}}</td>
                          <!-- <td>61</td>
                          <td>2011/04/25</td>
                          <td>$320,800</td> -->
                      </tr>
                     
                      <tr>
                          <td>Road Name<br>{{traffic_alert.EndRoadwayLocation.RoadName}}</td>
                          <td>End Time<br>{{traffic_alert.EndTime}}</td>
                          <td>Event Category<br>{{traffic_alert.EventCategory}}</td>
                          <td>Event Status<br>{{traffic_alert.EventStatus}}</td>
                          <td>Extended Description<br>{{traffic_alert.ExtendedDescription}}</td>
                          <td>Headline Description<br>{{traffic_alert.HeadlineDescription}}</td>
                      </tr>
                      <tr>
                          <td>Last Updated Time<br>{{traffic_alert.LastUpdatedTime}}</td>
                          <td>Priority<br>{{traffic_alert.Priority}}</td>
                          <td>Region<br>{{traffic_alert.traffic_alert}}</td>
                          <td>Start Roadway Location<br>{{traffic_alert.StartRoadwayLocation.Description}}</td>
                          <td>Direction<br>{{traffic_alert.StartRoadwayLocation.Direction}}</td>
                          <td>Latitude<br>{{traffic_alert.StartRoadwayLocation.Latitude}}</td>
                      </tr>
                      <tr>
                          <td>Longitude<br>{{traffic_alert.StartRoadwayLocation.Longitude}} </td>
                          <td>Mile Post<br>{{traffic_alert.StartRoadwayLocation.MilePost}}</td>
                          <td>Road Name<br>{{traffic_alert.StartRoadwayLocation.RoadName}}</td>
                          <td>Start Time<br>{{traffic_alert.StartTime}}</td>
                          <td>2011/12/12</td>
                          <td>$106,450</td>
                      </tr>
                      <tr>
                          <td>Doris Wilder</td>
                          <td>Sales Assistant</td>
                          <td>Sydney</td>
                          <td>23</td>
                          <td>2010/09/20</td>
                          <td>$85,600</td>
                      </tr>
                      <tr>
                          <td>Angelica Ramos</td>
                          <td>Chief Executive Officer (CEO)</td>
                          <td>London</td>
                          <td>47</td>
                          <td>2009/10/09</td>
                          <td>$1,200,000</td>
                      </tr>
                      <tr>
                          <td>Gavin Joyce</td>
                          <td>Developer</td>
                          <td>Edinburgh</td>
                          <td>42</td>
                          <td>2010/12/22</td>
                          <td>$92,575</td>
                      </tr>
                      <tr>
                          <td>Jennifer Chang</td>
                          <td>Regional Director</td>
                          <td>Singapore</td>
                          <td>28</td>
                          <td>2010/11/14</td>
                          <td>$357,650</td>
                      </tr>
                      
                  </tbody>
                 
              </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="mdl-tabs__panel" id="tab4-panel">
        <mat-card>
          <div class="container">
            <mat-card-title>Camear Api Call</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                      <tr>
                          <!-- <th>CameraID</th>
                          <th>Description</th>
                          <th>CameraOwner</th>
                          <th>Latitude</th>
                          <th>Longitude</th>
                          <th>Mile Post</th> -->
                          <!-- <th>RoadName</th>
                          <th>Longitude</th>
                          <th>MilePost</th>
                           -->
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>CameraID<br>{{camera_api.CameraID}}</td>
                          <td>Description<br>{{camera_api.CameraLocation.Description}}</td>
                          <td>Direction<br>{{camera_api.CameraLocation.Direction}}</td>
                          <td>Latitude<br>{{camera_api.CameraLocation.Latitude}}</td>
                          <td>Longitude<br>{{camera_api.CameraLocation.Longitude}}</td>
                          <td>Mile Post<br>{{camera_api.CameraLocation.MilePost}}</td>
                          <!-- <td>61</td>
                          <td>2011/04/25</td>
                          <td>$320,800</td> -->
                      </tr>
                     
                      <tr>
                          <td>Road Name<br>{{camera_api.CameraLocation.RoadName}} </td>
                          <td>Camera Owner<br>{{camera_api.CameraOwner}}</td>
                          <td>Description<br>{{camera_api.Description}}</td>
                          <td>Display Latitude<br>{{camera_api.DisplayLatitude}}</td>
                          <td>Display Longitude<br>{{camera_api.DisplayLongitude}}</td>
                          <td>Image Height<br>{{camera_api.ImageHeight}}</td>
                      </tr>
                      <tr>
                          <td>Image URL<br>{{camera_api.ImageURL}}</td>
                          <td>Image Width<br>{{camera_api.ImageWidth}}</td>
                          <td>Is Active<br>{{camera_api.IsActive}}</td>
                          <td>Owner URL<br>{{camera_api.OwnerURL}}</td>
                          <td>Region<br>{{camera_api.Region}}</td>
                          <td>Sort Order<br>{{camera_api.SortOrder}}</td>
                      </tr>
                      <tr>
                          <td>Title<br>{{camera_api.Title}}</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      
                      
                  </tbody>
                 
              </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="mdl-tabs__panel" id="tab5-panel">
        <mat-card>
          <div class="container">
            <mat-card-title>Mountain Pass Conditions</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table class="table table-hover">
                  <thead>
                    <!-- <tr>
                      <th>Description</th>
                      <th>Direction</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Mile Post</th>
                      <th>Road Name</th>
                      <th>Region</th>
                      <th>Station Name</th>
                      <th>Time</th>
                    </tr> -->
                  </thead>
                  <tbody>
                    <tr>
                      <td>DateUpdated<br>{{mountain_pass_conditions.DateUpdated}}</td>
                      <td>Elevation In Feet<br>{{mountain_pass_conditions.ElevationInFeet}}</td>
                      <td>Latitude<br>{{mountain_pass_conditions.mountain_pass_conditions}}</td>
                      <td>Longitude<br>{{mountain_pass_conditions.Longitude}}</td>
                                            
                    </tr>
                    <tr>
                      <td>Mountain Pass Id<br>{{mountain_pass_conditions.MountainPassId}}</td>
                      <td>Mountain Pass Name<br>{{mountain_pass_conditions.MountainPassName}}</td>
                      <td>Restriction Text<br>{{mountain_pass_conditions.RestrictionOne.RestrictionText}}</td>
                      <td>Travel Direction<br>{{mountain_pass_conditions.RestrictionOne.TravelDirection}}</td>
                    </tr>
                    <tr>
                      <td>Restriction Text<br>{{mountain_pass_conditions.RestrictionTwo.RestrictionText}}</td>
                      <td>Restriction Text<br>{{mountain_pass_conditions.RestrictionTwo.RestrictionText}}</td>                      
                      <td>Elevation In Feet<br>{{mountain_pass_conditions.ElevationInFeet}}</td>
                      <td>Road Condition<br>{{mountain_pass_conditions.RoadCondition}}</td>
                      
                    </tr>

                    <tr>
                      <td>Temperature In Fahrenheit<br>{{mountain_pass_conditions.TemperatureInFahrenheit}}</td>

                      <td>Travel Advisory Active<br>{{mountain_pass_conditions.TravelAdvisoryActive}}</td>
                      <td>Weather Condition<br>{{mountain_pass_conditions.WeatherCondition}}</td>
                      <td>Restriction Text<br>{{mountain_pass_conditions.RestrictionOne.RestrictionText}}</td>


                    </tr>
                    <tr>
                      <td>Travel Direction<br>{{mountain_pass_conditions.RestrictionOne.TravelDirection}}</td>
                      <td>Restriction Text<br>{{mountain_pass_conditions.RestrictionTwo.RestrictionText}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="mdl-tabs__panel" id="tab6-panel">
        <mat-card>
          <div class="container">
            <mat-card-title>Travel Times Api</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table class="table table-hover">
                  <thead>
                    <!-- <tr>
                      <th>Description</th>
                      <th>Direction</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Mile Post</th>
                      <th>Road Name</th>
                      <th>Region</th>
                      <th>Station Name</th>
                      <th>Time</th>
                    </tr> -->
                  </thead>
                  <tbody>
                    <tr>
                      <td>Average Time<br>{{travel_times_api.AverageTime}}</td>
                      <td>CurrentTime<br>{{travel_times_api.CurrentTime}}</td>
                      <td>Description<br>{{travel_times_api.Description}}</td>
                      <td>Distance<br>{{travel_times_api.Distance}}</td>
                                            
                    </tr>
                    <tr>
                      <td>Description<br>{{travel_times_api.EndPoint.Description}}</td>
                      <td>Direction<br>{{travel_times_api.EndPoint.Direction}}</td>
                      <td>Latitude<br>{{travel_times_api.EndPoint.Latitude}}</td>
                      <td>Longitude<br>{{travel_times_api.EndPoint.Longitude}}</td>
                    </tr>
                    <tr>
                      <td>Mile Post<br>{{travel_times_api.EndPoint.MilePost}}</td>
                      <td>Road Name<br>{{travel_times_api.EndPoint.RoadName}}</td>                      
                      <td>Name<br>{{travel_times_api.Name}}</td>
                      <td>Description<br>{{travel_times_api.StartPoint.Description}}</td>
                      
                    </tr>
                    <tr>
                      <td>Direction<br>{{travel_times_api.EndPoint.Direction}}</td>
                      <td>Latitude<br>{{travel_times_api.EndPoint.Latitude}}</td>
                      <td>Longitude<br>{{travel_times_api.EndPoint.Longitude}}</td>
                      <td>Mile Post<br>{{travel_times_api.EndPoint.MilePost}}</td>
                      
                    </tr>
                    <tr>
                      <td>Road Name<br>{{travel_times_api.EndPoint.RoadName}}</td> 
                      <td>Time Up dated<br>{{travel_times_api.TimeUpdated}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="mdl-tabs__panel" id="tab7-panel">
        <mat-card>
          <div class="container">
            <mat-card-title>Ferries Api</mat-card-title>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">

                <table class="table table-hover">
                  <thead>
                    <!-- <tr>
                      <th>Description</th>
                      <th>Direction</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Mile Post</th>
                      <th>Road Name</th>
                      <th>Region</th>
                      <th>Station Name</th>
                      <th>Time</th>
                    </tr> -->
                  </thead>
                  <tbody>
                    <tr>
                      <td>Alt ID<br>{{ferries_data_api.AltID}}</td>
                      <td>Subject ID<br>{{ferries_data_api.SubjectID}}</td>
                      <td>Subject Name<br>{{ferries_data_api.SubjectName}}</td>
                      <td>Alt Title<br>{{ferries_data_api.AltTitle}}</td>
                                            
                    </tr>
                    <tr>
                      <td>Alt Url<br>{{ferries_data_api.AltUrl}}</td>
                      <td>Alt Desc<br>{{ferries_data_api.AltDesc}}</td>
                      <td>File Type<br>{{ferries_data_api.FileType}}</td>
                      <td>Status<br>{{ferries_data_api.Status}}</td>
                    </tr>
                    <tr>
                      <td>Sort Seq<br>{{ferries_data_api.MilePost}}</td>
                      <td>From Date<br>{{ferries_data_api.FromDate}}</td>                      
                      <td>Thru Date<br>{{ferries_data_api.ThruDate}}</td>
                      <td>Modified Date<br>{{ferries_data_api.ModifiedDate}}</td>
                      
                    </tr>
                    <tr>
                      <td>Modified By<br>{{ferries_data_api.ModifiedBy}}</td>
                      
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>



    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>




